@charset "UTF-8";
body {
	background: grey;
	height: 700px;
	margin: 0px;
	padding: 0px;
}

.base {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	color: gray;
}

.button {
	border-radius: 5px;
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 35px 15px;
	cursor: pointer;
	box-shadow: 0px 1px 1px 1px #c6c1c1;
}

img {
	margin-top: 4px;
	margin-left: 10px;
	float: left;
}

#form1 {
	margin-top: 60px;
	width: 455px;
	height: 520px;
	padding-top: 40px;
	background: white;
	box-shadow: 0px 1px 1px 1px #c6c1c1;
}

h2 {
	text-align: left;
	margin-top: 75px;
	margin-left: 8px;
}

.text2 {
	margin-top: 20px;
	margin-left: 10px;
	float: left;
	font-size: 14px;
}

input[type="password"] {
	width: 270px;
	height: 42px;
	border-radius: 5px 5px 5px 5px;
	background: transparent;
	font-size: 18px;
	margin-top: 50px;
	border-width: 0px;
	outline: none;
	margin-left: 50px;
	margin-right: 50px;
}